@model Neyiyelim.Models.ReceiptCategory
@{
    Layout = null;
}
<!DOCTYPE html>

<html lang="en">
<head>
    <title>Sidebar 04</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Style/adminpage/css/style.css">
</head>
<body>
    @{ 

        if(ViewBag.control!=null)
        {
            <script>
                alert("Kayıt Başarılı")
            </script>
        }

    }
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <h1><a href="index.html" class="logo">Admin Panel</a></h1>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a href=@Url.Action("TarifEkle","Admin")><span class="fa fa-home mr-3"></span> Tarif Ekle</a>
                </li>
                <li>
                    <a href=@Url.Action("KategoriEkle", "Admin")><span class="fa fa-user mr-3"></span> Kategori Ekle</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-sticky-note mr-3"></span> Friends</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-sticky-note mr-3"></span> Subcription</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-paper-plane mr-3"></span> Settings</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-paper-plane mr-3"></span> Information</a>
                </li>
            </ul>
        </nav>
        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            @using (Html.BeginForm())
            {
                <div class="row pl-4">

                    <p class="mt-1">Kategori adı</p>

                    <div class="col-4">
                        @Html.TextBoxFor(i => i.CategoryName, new { @class = "form-control pl-3", @style = "background-color : #d1d1d1" })

                    </div>

                </div>
                <button type="submit">Kaydet</button>
            }
        </div>
    </div>
    <script src="~/Style/adminpage/js/jquery.min.js"></script>
    <script src="~/Style/adminpage/js/popper.js"></script>
    <script src="~/Style/adminpage/js/bootstrap.min.js"></script>
    <script src="~/Style/adminpage/js/main.js"></script>
</body>
</html>
